doctype html
html
  head
    title Seleccionar Especialidades y Médicos
    script(src="/js/main.js") // Incluyendo el archivo main.js
  body
    h1 Seleccionar Especialidad y Médico

    //- Select para Especialidades
    label(for="especialidad") Seleccionar Especialidad:
    select#especialidad(name="especialidad")
      option(value="") Selecciona una especialidad
      each especialidad in especialidades
        option(value=especialidad.id_especialidad) #{especialidad.nombre}

    //- Select para Médicos (inicialmente vacío)
    label(for="medico") Seleccionar Médico:
    select#medico(name="medico")
      option(value="") Selecciona un médico
      each medico in medicos
        option(value=medico.matricula_medico) #{medico.apellido + " " + medico.nombre }

    // Pasamos los médicos a una variable global accesible desde JavaScript
    script.
      window.medicos = !{JSON.stringify(medicos)}; // le paso los datos al js
      window.medicoEspecialidad = !{JSON.stringify(medicoEspecialidad)}; // le paso los datos al js
