doctype html
html
  head
    title Seleccionar Especialidades y Médicos
    link(href="https://cdn.lineicons.com/4.0/lineicons.css", rel="stylesheet")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css", rel="stylesheet")
    link(rel="stylesheet" href="css/styles.css")
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    script(src="/js/frontMain.js") 
  body
    .container-fluid(style="background-image: url('images/background_modulos.png'); background-size: cover; background-attachment: fixed; min-height: 100vh;")
      .row.m-0
        .col-md-2
          include sidebar.pug
        .col-md-10
          .main.p-3
            if medico
              h3 #{"Bienvenido Doctor: " + medico.nombre + " " + medico.apellido}
            else
              h3 Bienvenido Doctor: Información no disponible.

            - var fechaActual = new Date();
            - var opcionesFecha = { weekday: 'long', day: 'numeric', month: 'long' };
            - var fechaCompleta = fechaActual.toLocaleDateString('es-ES', opcionesFecha);

            h1.text-center Estos son los turnos para este #{fechaCompleta}

            #resultadosContainer
              if Object.keys(turnos).length > 0
                h2.text-center MAÑANA
                .row
                  each hora in ['09:00:00', '09:15:00', '09:30:00', '09:45:00', '10:00:00', '10:15:00', '10:30:00', '10:45:00', '11:00:00', '11:15:00', '11:30:00', '11:45:00', '12:00:00', '12:15:00', '12:30:00', '12:45:00']
                    .col-md-3
                      .card
                        h5.card-title.text-left #{hora}
                        if turnos[hora]
                          p.card-text Paciente: #{turnos[hora].nombre} #{turnos[hora].apellido}
                          if turnos[hora].estado.toLowerCase() === 'pendiente'
                            .badge.bg-success.text-center(style="width: 60%; padding: 5px; margin: 5px auto;") Pendiente
                          else if turnos[hora].estado.toLowerCase() === 'atendido'
                            .badge.bg-primary.text-center(style="width: 60%; padding: 5px; margin: 5px auto;") Atendido
                          else if turnos[hora].estado.toLowerCase() === 'cancelado'
                            .badge.bg-danger.text-center(style="width: 60%; padding: 5px; margin: 5px auto;") Cancelado
                        else
                          p.card-text.text-center No hay turno disponible.
                          .badge.bg-warning.text-center(style="width: 60%; padding: 5px; margin: 5px auto;") Turno Libre

                h2.text-center TARDE
                .row
                  each hora in ['17:00:00', '17:15:00', '17:30:00', '17:45:00', '18:00:00', '18:15:00', '18:30:00', '18:45:00', '19:00:00', '19:15:00', '19:30:00', '19:45:00', '20:00:00', '20:15:00', '20:30:00', '20:45:00']
                    .col-md-3
                      .card
                        h5.card-title.text-left #{hora}
                        if turnos[hora]
                          p.card-text Paciente: #{turnos[hora].nombre} #{turnos[hora].apellido}
                          if turnos[hora].estado.toLowerCase() === 'pendiente'
                            .badge.bg-success.text-center(style="width: 60%; padding: 5px; margin: 5px auto;") Pendiente
                          else if turnos[hora].estado.toLowerCase() === 'atendido'
                            .badge.bg-primary.text-center(style="width: 60%; padding: 5px; margin: 5px auto;") Atendido
                          else if turnos[hora].estado.toLowerCase() === 'cancelado'
                            .badge.bg-danger.text-center(style="width: 60%; padding: 5px; margin: 5px auto;") Cancelado
                        else
                          p.card-text.text-center No hay turno disponible.
                          .badge.bg-warning.text-center(style="width: 60%; padding: 5px; margin: 5px auto;") Turno Libre

              else
                p.text-center No se encontraron turnos para la fecha seleccionada.

            script.
              window.turnos = !{JSON.stringify(turnos)}; 
              console.log('Datos de turnos iniciales:', window.turnos); 

    script(src='/js/frontMain.js')
